.exhibition-section-type {
    padding-bottom: 40px;
}

.exhibition-type-title {
    font-size: 18px;
    padding-bottom: 25px;
}

.exhibition-container {
    padding-bottom: 25px;
}

.exhibition-year {
    padding-bottom: 15px;
    font-size: 18px;
}

.exhibition-name {
    font-size: 16px;
    text-decoration: underline;
}

.exhibition-gallery-name {
    font-size: 16px;
}

.exhibition-dates {
    font-size: 16px;
    font-style: italic;
}