.exhibition-section-type {
    padding-bottom: 40px;
}

.exhibition-type-title {
    font-size: 18px;
    padding-bottom: 25px;
}

.exhibition-year-group {
    display: flex;
    flex-direction: row;
}

.exhibition-container {
    padding-bottom: 25px;
    padding-left: 15px;
}

.exhibition-year {
    padding-bottom: 15px;
    font-size: 18px;
    width:90px;
}

.exhibition-name {
    font-size: 16px;
    font-weight: 600;
}

.exhibition-gallery-name {
    font-size: 16px;
    max-width: 400px;
}

.exhibition-dates {
    font-size: 16px;
}