.page-content-title {
    padding-left: 16px;
}

.image-grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 23%;
    // max-width: 31%;
    padding: 0 17px;
    margin-top: -32px;

}

.column img {
    margin-top: 32px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 1650px) {
    .top-row {
        margin-top: 0px;
    }
}


// Responsive layout - makes a 3 column-layout instead of four columns
@media screen and (max-width: 1350px) {
.column {
    flex: 26%;
    // max-width: 28%;
    padding: 0 16px;
}

}

// Responsive layout - 1 column on mobile layout
@media screen and (max-width: 1000px) {
.column {
    flex: 52% 1;
    // max-width: 45%;
    padding: 0;
}

.page-content-title {
    padding-left: 8px;
}

.column img {
    margin-top: 32px;
    vertical-align: middle;
    width: 100%;
}
    .top-row {
    margin-top: 0px;
    }
}

// Responsive layout - mobile layout 
@media screen and (max-width: 600px) {
    .image-grid-container {
        padding: 0px;
        align-items: stretch;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0px;
    }

    .page-content-title {
        padding-left: 0px;
    }
}