.individual-words-title {
    text-transform: uppercase;
    padding-bottom: 14px;
}

.individual-words-top-image {
    max-height: 600px;
    padding-bottom: 15px;
}

.image-section-bascove {
    padding-bottom: 50px;
}

.individual-words-paragraph-container {
    max-width: 700px;
}

.individual-words-paragraph {
    line-height: 1.5;
    margin: 15px 0;
}    

.individual-words-text-container {
    padding-top: 15px;
}

.individual-words-closing-text {
    font-style: italic;
    font-size: 16px;
}

.individual-words-image-horizontal {
    width: 100%;
    padding: 35px 0;
}

.exhibition-image-horizontal {
    max-width: 677px;
    max-height: 460px;
    padding-bottom: 50px;
  }

.individual-words-image-vertical {
    width: 50%;
    padding: 35px 15px 35px 0px;
}

.individual-words-image-vertical:last-child {
    padding-right: 0px;
}

.individual-words-image-vertical-two {
    width: 45%;
    padding: 35px 20px 35px 0px;
}

.individual-words-image-vertical-two:last-child {
    padding-right: 0px;
}