.individual-image-content-container {
    margin: 0 auto;
    display: inline-block;
}

.individual-image-details {
    padding-top: 10px;
}

.image-detail-text {
    padding-top: 10px;
}
.thumbnail-section {
    display: flex;
}

@media screen and (max-width: 768px) {
    .individual-image-main {
        width: 100%;
    }
} 

@media screen and (min-width: 574px) {
    .individual-image-main {
        max-height: 75vh; 
        max-width: 100%;
        width: auto;
    }    
}

.thumbnail-image {
    height: 82px;
    margin: 0 10px 0 0;
    cursor: pointer;
}
