.individual-image-content-container {
    margin: 0 auto;
}

.invidual-image-details {
    padding-top: 15px;
    // margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .individual-image-main {
        width: 100%;
    }
} 

@media screen and (min-width: 574px) {
    .individual-image-main {
        height: 80vh;    }    
}
