.individual-image-content-container {
    margin: 0 auto;
    display: inline-block;
}

.invidual-image-details {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thumbnail-section {
    display: flex;
    
}

@media screen and (max-width: 768px) {
    .individual-image-main {
        width: 100%;
    }
} 

@media screen and (min-width: 574px) {
    .individual-image-main {
        max-height: 80vh; 
        max-width: 100%;
        width: auto;
    }    
}

.thumnail-image {
    height: 100px;
    margin: 0 0 0 10px
}
