html {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.desktop-only {
    display: none;
}

// mobile only
@media screen and (max-width: 768px) {
    .navigation-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide-on-mobile {
        display: none;
    }

    .site-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .page-content {
        padding-top: 40px;
    }

    .nav-menu-list {
        height: 100vh;
    }
}

// desktop only
@media screen and (min-width: 768px) {
    
    .hide-on-desktop {
        display: none;
    }

    .site-content {
        display: flex;
        flex-direction: row;
        padding: 80px;
    }

    .navigation-menu {
        min-width: 300px;
        height: 100vh;
    }

    .page-content {
        // padding-top: 98px;
        width: 100%;
    }
}

.openHide {
    display: none;
}

.nav-menu-list{
    padding-top: 40px;

}
.nav-menu-item {
    padding: 15px 0; 
}

.sub-nav-menu-item {
    padding: 10px 10px;
}