.overlay {
    // border: 1px solid red;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.overlay-close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 70px;
    width: 70px;
}

.overlay-previous, .overlay-next {
    background: black;
    height: 70px;
    width: 70px;
    position: absolute;
    top: calc(50vh - 35px);
    z-index: 2;
}

.overlay-previous {
    left: 0;
}

.overlay-next {
    right: 0;
}

.overlay-previous-svg, .overlay-next-svg, .overlay-close-svg {
    fill: white;
}

.overlay-previous, .overlay-next, .overlay-close, .overlay-thumbnail {
    &:focus {
        outline: 1px dotted white;
    }
}

.overlay-thumbnail {
    margin-left: 7px;

    &:disabled {
        opacity: .5;
    }
}

.overlay-thumbnail-image {
    height: 82px;
}

.overlay-previous-svg, .overlay-next-svg {
    transform: scale(.75);
}

.overlay-close-svg {
    transform: scale(.5);
}

.overlay-image-container {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    height: calc(100% - 100px);
    width: calc(100% - 180px); // 100% - button size + 40px padding
    margin: 50px auto 0;
    z-index: 1;
}

.overlay-image-content {
    // border: 1px solid green;
}


.overlay-image {
    max-width: 100%;
    max-height: 75vh;
    // object-fit: contain;
    width: auto;
}

.overlay-bottom-wrapper {
    display: flex;
    // border: 1px solid red;
    justify-content: space-between;
    padding-top: 10px;
}

.overlay-image-wrapper {
    border: 1px solid orange;
    width: 1000px;

}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 300ms;
}

.fade-exit {
      opacity: 1;
  }

.fade-exit-active {
    opacity: 0;
    transition: all 100ms;
  }