.overlay {
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.overlay-previous, .overlay-next {
    border: 1px solid red;
    background: black;
    height: 70px;
    width: 70px;
    position: absolute;
    top: calc(50vh - 35px);
    z-index: 2;
}

.overlay-previous {
    left: 0;
}

.overlay-next {
    right: 0;
}

.overlay-image-container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    height: calc(100% - 100px);
    width: calc(100% - 180px); // 100% - button size + 40px padding
    margin: 50px auto 0;
    z-index: 1;
}

.overlay-image-content {
    border: 1px solid green;
}

.overlay-image {
    max-width: 100%;
    max-height: 75vh;
    // object-fit: contain;
    width: auto;
}

.overlay-bottom-wrapper {
    border: 1px solid red;

}

.overlay-image-wrapper {
    border: 1px solid orange;
    width: 1000px;

}


.overlay-description {
    background: blue;
    height: 100px;
    width: 100px;
}